* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	list-style: none;
	text-decoration: none;
	border: none;
}

body {
	min-width: 630px;
	margin: auto;
}

body>* {
	padding-inline: 12%;
}

a {
	color: unset;
}

#hero, 
footer{
	background-color: #1f2937;
}

.logo {
	font-size: 24px;
	color: #f9faf8;
}

.nav-links {
	color: #e5e7eb;
	font-size: 18px;
	display: flex;
	gap: 2em;
}

.top-nav {
	padding-block: 12px;
	display: flex;
	justify-content: space-between;
}

header{
	padding-block: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

header .main-text{
	font-size: 48px;
	font-weight: 700;
	color: #f9faf8;
}

header .secondary-text, 
.call-to-action .secondary-text,
footer{
	font-size: 18px;
	color: #e5e7eb;
}

.background-blue{
	background-color: #3882f6;
}

button{
	padding: 0.5em 2em;
	border-radius: 8px;
	color: white;
	font-weight: bolder;
	font-size: 18px;
	height: fit-content;
}

.description,
.image-placeholder,
footer{
	height: 100%;
	align-content: center;
	text-align: center
}

.quote-section{
	background-color:#e5e7eb70;
}

.info-section .header-text{
	color: #1f2937;
	font-size: 36px;
	text-align: center;
	margin-block: 0px 50px;
}

.illustration{
	display: flex;
	justify-content: space-between;
	gap: 12px;
	padding-inline: 20%;
	flex-wrap: wrap;
}
.illustration>*{
	flex-basis: 130px;
	max-width: 170px;
	margin: auto;
	flex-grow: 0.2;
}

.illustration .image{
	border: 3px  #3882f6 solid;
	border-radius:12px;
	aspect-ratio: 1;
}

.description{
	margin-block: 0.6em;
	color: #1f2937;
}

.quote-text{
	font-size: 36px;
	font-style: italic;
}

.aside{
	display: inline-block;
	text-align: right;
	width: 100%;
	font-size: 20px;
	font-weight: bolder;
	font-style: unset;
}

section+section{
	padding-block: 50px;
}

section+footer{
	padding-block: 18px;
}

.outline-white{
	outline: white 2px solid;
}

.call-to-action .header{
	color: white;
}

.call-to-action {
	display: flex;
	justify-content: space-between;
	padding: 3% 5%;
	border-radius: 6px;
}
